@model dynamic
@{
    ViewData["Title"] = "Mota";
}
<h2 style="text-align: center;">Mota</h2>
<article>Mota es una perrita de cinco años, conocida por su pelaje 
    oscuro con manchas blancas en el pecho, lo que le da un aspecto 
    distintivo y encantador. Su personalidad amigable y leal resalta 
    tanto como su pelaje, y su energía y cariño hacen que cada día con 
    ella sea una experiencia alegre y reconfortante. Mota no solo es una 
    compañera fiel, sino también una fuente de alegría que ilumina la vida 
    de quienes la rodean es encantadora y amante a los juegos.</article>
<div style="text-align: center;">
    <img src="~/imagenes/Mota.jpg" alt="Mota" style="max-width: 300px; height: auto; display: block; margin: 0 auto;">
</div>
