@model dynamic
@{
    ViewData["Title"] = "Seinep";
}
<h2 style="text-align: center;">Seinep</h2>
<article>Seinep es una encantadora gata de dos años, 
    conocida por su elegante pelaje plomizo que le da un aire sofisticado 
    y encantador. Su personalidad independiente y cariñosa destaca tanto como su pelaje,
     y su curiosidad y agilidad hacen que cada día con ella sea una experiencia fascinante.
      Seinep no solo es una compañía leal, sino también un rayo de luz que ilumina la vida de quienes 
      la rodean.</article>
<div style="text-align: center;">
    <img src="~/imagenes/seinep2.jpg" alt="Seinep" style="max-width: 300px; height: auto; display: block; margin: 0 auto;">
</div>