@model dynamic
@{
    ViewData["Title"] = "Toby";
}
<h2 style="text-align: center;">Toby</h2>
<article>Toby es un encantador Shih Tzu de dos años, 
    conocido por su hermoso pelaje color caramelo, que le da un aspecto 
    cálido y atractivo. Su personalidad juguetona y cariñosa resalta tanto 
    como su pelaje, y su energía y entusiasmo hacen que cada día con él sea 
    una experiencia llena de alegría. Toby no solo es una compañía leal, sino 
    también un rayo de sol que ilumina la vida de quienes lo rodean.</article>
<div style="text-align: center;">
    <img src="~/imagenes/toby2.jpg" alt="Toby" style="max-width: 300px; height: auto; display: block; margin: 0 auto;">
</div>